.ztree li span.button.bgClass_ico_open, .ztree li span.button.bgClass_ico_close{
    background: url('../../../assets/img/icon/1212.png') no-repeat;
    background-size: 100%;
}
.ztree li span.button.bgClass_ico_docu {
    background: url('../../../assets/img/icon/123123.png') no-repeat;
    background-size: 100%;

}
